%section.bottom-nav
  .container
    .row
      .col-sm-10.col-sm-offset-2.bottom-nav-items.profile-menu
        - if user_signed_in?
          = link_to friend_path(user.id), class: link_class((user.id == current_user.id)? 'friends': 'friends') do
            %span.emphasis
              =user.count_of_friends
            Friends
        = link_to interest_path(id: user.id) do
          %span.emphasis= user.interests.count
          Interests
        - if user_signed_in?
          = link_to (user.id == current_user.id)? activities_path : user_activities_path(user.id), class: link_class('activities') do
            %span.emphasis
              =activitiesNum
            Activities
        -if signed_in_and_is_current? user.id
          = link_to curiosities_path, class: link_class('curiosity') do
            %span.emphasis
              =current_user.curious_activities_num
            I'm curious
        .edit-profile-button{ data: { toggle: "tooltip"} }
          - if signed_in_and_not_current? user.id
            - if friends?(user.id)!=true
              = link_to friendships_path(:friend_id => user.id), :method => :post, title: "Add to friends", :class => "btn btn-transparent" do
                %span.glyphicon.glyphicon-plus
            - else
              =link_to friendship_path(id: current_user.get_friendship(friend_id: user.id)[0].id, friend_id: user.id), :method => :delete, title: "Remove from friends", class: 'btn btn-transparent' do
                %span.glyphicon.glyphicon-remove

            =link_to new_conversation_path(:receiver_id => user.id),:title=> "Send message", class: 'btn btn-transparent' do
              %span.glyphicon.glyphicon-envelope
          - if user_signed_in? && current_user[:id] == user[:id]
            = link_to edit_user_profile_path(tab: "basic"),:title=> "Edit profile", :class => "btn btn-transparent" do
              %span.glyphicon.glyphicon-cog
