%section
  = render 'shared/top-nav'
  .col-md-12.photo-body
    .darken-bg
    .container
      .row
        .col-md-2
          = image_tag user.avatar_url(:thumb), class: 'img-circle'
        .col-md-10
          .user-name
            %h3
              ="#{ user.fullname}"
              - unless user.show_age? 
                %span.user-age=", #{ user.age}"
          .member-info
            %h4 Member Since
            %h4= l user.created_at, :format => :month_year
