:coffee
  $ ->
    m = new GottaGo.Models.User({ id: "#{@user.id}" })
    new GottaGo.Views.UserInline({ model: m, scroll: "#{params[:i]}" })

- @is_own_profile = signed_in_and_is_current? @user.id
- @user_display_name = @is_own_profile ? 'my' : @user.name+'\'s'

.user-info-section.profile-index
  = render 'header', user: @user
  = render 'header_bottom_nav', user: @user
  %section
    .container.borderize.roundize.whitebg
      .row
        .col-sm-4
          = render 'blurb'
        .col-sm-8
          = render 'interests'
      .row
        .col-sm-12
          = render 'friends'
      .row
        .col-sm-12
          = render 'activities/short_list'
