
.col-md-6.homepage-block
  .col-md-10.col-md-offset-1.backgroundize.roundize3.border-white
    .block-footer
      .wizard-block.white
        %h2.text-center A little about you
        = simple_form_for(@user, :url => wizard_path, :method => :put, :html => {:class => 'form-vertical', :multipart => true  }) do |f|
          = f.error_notification
          = display_base_errors @user
          .col-md-12
            .row
              .col-md-1.labeled
                I'm
              .col-md-3
                = f.input :age, as: :integer, :autofocus => true, label: false, required: true
              .col-md-2.labeled.paddingles.text-center{style:'white-space: nowrap;'}
                Years old,
              .col-md-4
                = f.input :sex,  collection: ['Male', 'Female'], selected: 0, label: false
          .col-md-12{style: 'margin-bottom: 30px;'}
            .row
              .col-md-12.zip-fix
                = f.input :zipcode, as: :integer, label: 'Zipcode', required: true, input_html: { maxlength: 10}
              .col-md-12
                = f.button :submit, 'Next!', :class => 'btn-pink', :style=> 'width: 100px;'
.col-md-6.pull-right.margin-top
  = image_tag 'homepage_image1.png'

