.col-md-6.homepage-block
  .col-md-10.col-md-offset-1.backgroundize.roundize3.border-white
    .block-footer.roundize3
      .page-header.remove-margin-top
        %h1.text-center 
          %b Only a couple of more things...
      .wizard-block.roundize3-bottom.label-fix{style: 'background: #fff;border: 1px solid #000000;margin: -20px -1px 0;'}
        = simple_form_for(@user, url: wizard_path, wrapper: :horizontal, :method => :put, :html => {class: 'form-horizontal upload_form', multipart: true, encoding: "multipart/form-data", enctype: "multipart/form-data" }) do |f|
          = f.error_notification
          = display_base_errors @user
          = f.input :occupation, :autofocus => true
          = f.input :relationship_status, collection: ['Single', 'Married', 'In relations', 'Engaged'], selected: true
          = f.input :looking_for
          .file_upload
            %div.file-label No File Chosen..
            = f.input :avatar, label: 'Upload Photo', as: :file, input_html: { onchange: "readURL(this);" }
          = f.input :about, as: :text, label: 'Just a blurb about yourself in 200 words'
          = f.button :submit, 'Next', :class => 'btn-pink', :style=> 'width: 100px;'
.col-md-6.pull-right.margin-top
  = image_tag 'homepage_image1.png'

