.col-md-6.col-md-push-3.homepage-block.margin-top.backgroundize.roundize3.signup-step
  .page-header.text-center
    Just a Couple of Things
  .block-footer
    .wizard-block
      = simple_form_for(@user, url: wizard_path, wrapper: :horizontal, :method => :put, :html => {class: 'form-horizontal upload_form', multipart: true, encoding: "multipart/form-data", enctype: "multipart/form-data" }) do |f|
        = f.error_notification
        = display_base_errors @user
        .row
          .col-sm-12
            %label Just a quick blurb about yourself
            %small.word-count in 200 words
        .row
          .col-sm-12
            %textarea#user_about.text.optional{ :cols => '40', :maxlength => '1000', :name => 'user[about]', :rows => '20' }
            .text-right ...psst, you can always revise this later
        .row.text-center
          .col-sm-12
            = f.button :submit, 'Next', :class => 'btn-pink', :style=> 'width: 100px;'
-#.file_upload
  %div.file-label No File Chosen..
  = f.input :avatar, label: 'Upload Photo', as: :file, input_html: { onchange: "readURL(this);" }
