.col-md-6.homepage-block
  .col-md-10.col-md-offset-1.backgroundize.roundize3.border-white
    = render 'signup_wizard/header'
    .block-footer
      %p.pull-top or
      .wizard-block
        = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
          = flash[:sign_in_err]
          = f.input :email, :autofocus => true
          = f.input :password
          = f.input :remember_me, inline_label: 'Remember me', label: false, :as => :boolean if devise_mapping.rememberable?
          = f.button :submit, 'Sign in', :class => 'btn-pink'
.col-md-6.pull-right.margin-top
  = image_tag 'homepage_image1.png'
