%section.search
  = render 'shared/top-nav'
  = render 'head'
  .container
    .row.text-center
      %h1.decored People going places...
    .row
      .col-md-12.user-activities
        .city-page
          .row
            - if !@users_going_places.blank?
              - @users_going_places.uniq.each do |user|
                = render 'cities/users_going_places', user: user
            - else
              %h2.grey-msg.text-center= "There are no people going places."
  .container
    .row.text-center
      %h1.decore Whats going on...
      %select.btn.btn-grey
        %option
          %a{:href => "#"} All
        %option
          %a{:href => "#"} Popular
        %option
          %a{:href => "#"} Newest
        %option
          %a{:href => "#"} Friends are going
    .row
      .col-md-12.user-activities
        .city-page
          .row
            - if @activities.blank?
              %h2.grey-msg.text-center= "There are currently no activities in #{@city.name}."
            -else
              - @activities.uniq.each do |activity|
                = render 'activities/activity', activity: activity
              .col-md-12.text-center
                =will_paginate @activities

    %p.back-top
      %a{:href => ".top"}
        %span>
        Back to Top