.container
  .row
    .search-form-wrap.col-sm-8.col-sm-offset-2
      - if params[:activity_category_id]
        - path = activity_category_activities_explore_path
      - else
        - path = activities_explore_path

      = simple_form_for(@search, :url => path) do |f|
        = f.error_notification
        .row
          .form-inputs
            .col-sm-4
              = f.input :title_contains, label: false, placeholder: 'What are you Gonna do?', required: false
            .col-sm-3
              = f.input :location_contains, label: false, placeholder: 'Near?', required: false, input_html: { value: @location_contains }
              = f.input :lat_gt, :as => :hidden, required: false
              = f.input :lng_gt, :as => :hidden, required: false
              = f.input :lat_lt, :as => :hidden, required: false
              = f.input :lng_lt, :as => :hidden, required: false
          .form-group{ :style => "margin: 0;" }
            .col-sm-3
              = f.input :end_datetime_lte, :as => :select, label: false, required: false, collection: [['When?', ''], ['Today', 1], ['Tomorrow', 2], ['Anytime', 3]], :selected => @end_datetime

          .col-sm-2
            = f.button :submit, "Search", class: "btn btn-pink", style: 'width: 100%'
