- if user_signed_in?

- else
  %li= link_to 'Login', new_user_session_path
  %li= link_to 'Sign Up', authenticate_path
- if user_signed_in?
  %li
    / =link_to requests_friend_path(:id => current_user.id) do
    /   = image_tag '/assets/Friend_requests.png', class: 'new_friends'
    /   %sup.count-of-reguest
    /     - if current_user.get_friend_request.size > 0
    /       =current_user.get_friend_request.size

  %li.dropdown
    %a{"data-toggle" => "dropdown", href: "#"}
      %span
        %img{:src => "/assets/addfriends.png"}
      - if current_user.pending_friend_requests.size > 0
        %sup.count-of-reguest
          = current_user.pending_friend_requests.size

    %ul.dropdown-menu.custom{"aria-labelledby" => "dLabel", role: "menu"}
      - unless current_user.pending_friend_requests.size > 0
        .col-md-12.extra-margin-top
          %li You have no friend requests.
      - else
        .col-md-12
          - current_user.pending_friend_requests.each do |pending_friend_request|
            - pending_friend = current_user.pending_friend(pending_friend_request)
            %li
              %a{:href => profile_path(pending_friend)}
                %span.left_block
                  %img{:src => "http://lorempixel.com/48/48"}/
                %span.right_block
                  %span.name
                    = pending_friend.name
                  / %span.time 4 days ago
              .divider


          %li.dropdown-footer.last-child
            = link_to 'View All', requests_friend_path(:id => current_user.id)

  %li.dropdown
    %a{"data-toggle" => "dropdown", href: "#"}
      %span.glyphicon.glyphicon-globe
      - if @unread_notifications_count.present?
        %sup.count-of-reguest
          = @unread_notifications_count
    %ul.dropdown-menu.custom{"aria-labelledby" => "dLabel", role: "menu"}
      - if @last_notifications.blank?
        .col-md-12.extra-margin-top
          %li You have no notifications
      - else
        - @last_notifications.each do |n|
          - t = (@last_notifications.last == n)
          %li= render 'notifications/minimized_not', notification: n, last: t
          - if t
            .col-md-12
              %li= link_to 'View all', notifications_path, class: 'pull-right'

  %li.dropdown
    %a{"data-toggle" => "dropdown", href: "#"}
      %span.glyphicon.glyphicon-envelope
      - if @unread_messages_count.present?
        %sup.count-of-reguest
          = @unread_messages_count
    %ul.dropdown-menu.custom{"aria-labelledby" => "dLabel", role: "menu"}
      - if @last_messages.blank?
        .col-md-12.extra-margin-top
          %li You have no messages
      - else
        - @last_messages.each do |m|
          - t = (@last_messages.last == m)
          %li= render 'conversations/minimized_mes', receipt: m, last: t
          - if t
            .col-md-12
              %li= link_to 'View all', conversations_path, class: 'pull-right'

  %li.dropdown
    %a{"data-toggle" => "dropdown", href: "#"}
      %span.glyphicon
      = image_tag current_user.avatar_url(:thumb), class: 'img-circle glyphiuser'
    %ul.dropdown-menu.custom-navs{"aria-labelledby" => "dLabel", role: "menu"}
      .col-md-12.border-bottom
        %li= link_to 'My Curiosity Board', curiosities_path
      .col-md-12.border-bottom
        %li= link_to 'My Activities', activities_path
      .col-md-12.border-bottom
        %li= link_to 'My Friends', friends_path(current_user)
      .col-md-12.border-bottom
        %li= link_to 'Edit Profile', edit_user_profile_path(tab: "about")
      .col-md-12.border-bottom
        %li= link_to 'Settings', edit_user_profile_path(tab: "my-account")
      .col-md-12
        %li= link_to 'Logout', destroy_user_session_path, :method=>'delete'

      / .col-md-12.borderi-bottom
      /   %li= link_to 'Basics', edit_user_profile_path(tab: "basic")
      / .col-md-12.border-bottom
      /   %li= link_to 'About Me', edit_user_profile_path(tab: "about")
      / .col-md-12.border-bottom
      /   %li= link_to 'Interests', edit_user_profile_path(tab: "interests")
      / .col-md-12.border-bottom
      /   %li= link_to 'Friend Preferences', edit_user_profile_path(tab: "preferences")
      / .col-md-12.border-bottom
      /   %li= link_to 'My Account', edit_user_profile_path(tab: "my-account")
      / .col-md-12.border-bottom
      /   %li= link_to 'My Notifications', edit_user_profile_path(tab: "notifications")
      / .col-md-12
      /   %li= link_to 'Logout', destroy_user_session_path, :method=>'delete', class: 'pull-right'

- if user_signed_in?
  %li
    .button.btn.btn-pink.marginButton{"data-target" => "#PostActivity", "data-toggle" => "modal"} Post Activity

    = render "activities/modal"

