!!!
%html
  %head
    = render 'layouts/head'
  %body.top{:class => body_background_class}
    = render 'layouts/hidden_html_helpers'
    %header
      = render 'layouts/navigation'
    - style = ''
    %main{:role => "main", style: style}
      = render 'layouts/messages'
      = yield
    %footer
      = render partial: 'footer/bottom_bar'
