!!!
%html.unauth-home
  %head
    = render 'layouts/head'
  %body
    = render 'layouts/hidden_html_helpers'
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      .container
        %section
          = yield
